*{
    margin: 0;
    padding:0;
}

.cabeçalho {
    background-color: #FFF3EA;
    color: #763C00;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 0;
}

.cabeçalho-imagem{
    width:  15%;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 30px;
}

.livros-imagem{
    width: 20%;
}

.sobre{
    background-image: linear-gradient(#FFF6EA,#763C00);
    color: #FFF6EA;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.sobre-div-conteudo{
    width: 35%;
}
.sobre-titulo{
    padding: 24px 0;
}