*{
    margin: 0;
    padding:0;
}
body {
    font-family: 'Poppins', sans-serif;
}

.cabeçalho {
    background-color: #FFF3EA;
    color: #3b1f00;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 0;
}

.cabeçalho-imagem{
    width:  15%;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 30px;
}

.livros-imagem{
    width: 20%;
    padding: 24px 0;
}

.sobre{
    background-image: linear-gradient(#FFF6EA,#763C00);
    color: #3b1f00;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.sobre-div-conteudo{
    width: 35%;
}

.sobre-titulo{
    padding: 24px 0;
}

.folha{
    width: 20%;
    padding: 24px 0;
}

.Títulos{
    background-image: linear-gradient(#763C00,#fff6ea);
    color: #3b1f00;
    display: flex;
    justify-content: center;
    align-items: center ;
    padding: 24px 0;
}

.Títulos-div-conteúdo{
    width: 35%;
}
s
.Títulos-livros{
    padding: 24px 0 ;
}